table
{
    font-family: sans-serif;
    border-collapse: collapse;
}
table, td, th
{
    border: 1px solid black;
}
thead
{
    font-weight: bold;
}
td, th
{
    padding: 0.5em;
}
tr.header
{
    background-color: steelblue;
}
tr.even
{
    background-color: #eee;
}
